## Built- in function

1. Len

In [1]:
# Lenght use to find numbers of characters

len("How many character do we have here?")

35

In [2]:
# convert object as string
str(3.14)

'3.14'

In [3]:
#convert to int
int("10")

10

In [4]:
float("9.354")

9.354

In [5]:
type("snow")

str

## Custom Functions

In [6]:
# Declare a function that accept a temperature in celsius ans return it in fahrenheit

def convert_to_fahrenheit(celsius_temp):
    product = celsius_temp * 1.8 # multiply by 1.8
    return product + 32 # add 32

In [8]:
convert_to_fahrenheit(10)

50.0

In [9]:
# another way to write the about function
convert_to_fahrenheit(celsius_temp=24)

75.2

In [12]:
# working with strip 

student = "     sunita    "

In [14]:
student.lstrip()

'sunita    '

In [15]:
student.rstrip()

'     sunita'

In [16]:
student.strip()

'sunita'

In [17]:
# working with replace()

student.replace("a", "y") # replace every "a" with "y"

'     sunity    '

In [18]:
# strip and replace method toegther
student.strip().replace("a","y")# strip out whitespace and replace "a" with "y"

'sunity'

In [20]:
rain = "coldday"

In [22]:
rain.endswith("z")# bool

False

In [23]:
"cold" in rain # "in" key word help to find what you looking for

True

In [24]:
"cold" not in rain # whenever exist or not

False

## LISTS

In [25]:
# List is a container to store object in order
[1,2,3,4,5,6] # container store in order

[1, 2, 3, 4, 5, 6]

In [26]:
things_to_buy = ["fruits","vege","baking","flower"]

In [27]:
things_to_buy

['fruits', 'vege', 'baking', 'flower']

In [28]:
#len combine with list

len(things_to_buy)

4

In [29]:
type(things_to_buy)

list

In [30]:
banks =["citibank","chase"]

In [31]:
banks

['citibank', 'chase']

In [32]:
# append ( add new element to existing list)
banks.append("Wellsfargo")

In [33]:
banks

['citibank', 'chase', 'Wellsfargo']

In [35]:
icecream = ["chocolate","vanilla","mango","strawberry"]
icecream

['chocolate', 'vanilla', 'mango', 'strawberry']

In [36]:
#pop method opposite of append- pop remove last element
icecream.pop()

'strawberry'

In [39]:
# remove item within the list
icecream.remove("vanilla")# remove a specfic item from list

ValueError: list.remove(x): x not in list

In [40]:
icecream

['chocolate', 'mango']

In [43]:
flowers = ["rose","cherryblossom","daisy"] 
flowers

['rose', 'cherryblossom', 'daisy']

In [47]:
"rose" in flowers # check is rose on flowers # case sensative

True

## Index Position and slicing

In [48]:
# index start from 0
# len start from 1

superman = ("superman")
len(superman)

8

In [50]:

superman[0]
superman[4]

'r'

In [51]:
superman[-1] # pullout last character

'n'

In [52]:
superman[-2]pullout second last character

'a'

In [53]:
actors = ["Andy", "Bruce", "Jerry","peterpan"]
actors

['Andy', 'Bruce', 'Jerry', 'peterpan']

In [54]:
actors[3]

'peterpan'

In [55]:
#slicing operation
actors[1:3] # start from one and end at three

['Bruce', 'Jerry']

In [57]:
actors[:4] # this will return all

['Andy', 'Bruce', 'Jerry', 'peterpan']

In [59]:
actors[1:-2]

['Bruce']

## Dictionary

In [64]:
# An unordered collection of key-value pairs
# dictionary also mutable which means that you can add and remove values. KEY must be unique. value can be duplicate

# key: cheesecake, etc
# value = price 60, etc
menu = {
    "cheesecake": 60,
    "pizza": 30,
    "pasta": 20,
    "fried rice": 20,
    "vege soup": 15,
}

print(menu)
print(len(menu))

{'cheesecake': 60, 'pizza': 30, 'pasta': 20, 'fried rice': 20, 'vege soup': 15}
5

In [65]:
#find key value
menu["cheesecake"]

60

In [68]:
# add key to dictionary


menu["cake"]=12
menu

{'cheesecake': 60,
 'pizza': 30,
 'pasta': 20,
 'fried rice': 20,
 'vege soup': 15,
 'cake': 12}

In [69]:
# in key word

"pizza" in menu # look for pizza in menu

True

In [70]:
"cake" not in menu

False

In [72]:
# check amoung the value

20 in menu.values()

True